<div id="carouselExampleFade" class="carousel slide p-5" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="d-block w-100">
                <h3 id="q01">Who Am I?</h3>
                <p class="container" id="paragraph_aboutMe">
                    My fullname is Jorge Danny Luna Caycho. My first program built was in 2019 and that year 
                    I have been interested in the programming world, then some years I known the platform 
                    HackeTheBox and a little bit about hacking where I created a keylogger made in C++ with 
                    the use of events and files. Moreover, I learned the JAVA programming lenguage, data structures 
                    and design arquitecture. I also have some skills about networking and communications, 
                    some knowledges are the creation a routing between VLANs, Etherchannel, port security, 
                    among other things.
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-block w-100">
                <h3 id="q02">How was this site made?</h3>
                <p class="container" id="paragraph_aboutMe_02">
                    This site started when many programers talking about 'You have to have a website right now!',
                    So... In that moment the procrastination has taken over me, because I never used to Javascript and
                    I was married with JAVA. Along time I decided to learn Javascript, so that programing lenguage is 
                    based for the web. Gradually generate me some ideas with Javascript and finished making this website.
                </p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>