<div class="container-fluid p-5">
    <div class="row p-5">
        <div class="col-md-6 mx-auto my-5 p-5">
            <div class="card text-center bg-dark" id="cardDonate">
                <div class="card-body">
                    <a class="btn btn-info w-100 h-100" href="https://www.paypal.com/paypalme/mindlunny" target="_blank">
                        If you wanna can you gift me one cup of coffe ☕
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>