<div class="card text-center bg-black p-5" id="squareGift">
    <div class="card-body p-5">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
<div class="row justify-content-center p-4">
    <div class="col-sm-3">
        <div class="container p-2">
            <div class="card border-0">
                <div class="card-body bg-black text-center">
                    <a href="https://www.youtube.com/@berrycode3200" class="btn btn-primary bg-black" target="_blank">
                        <h5 class="card-title">Videos</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="container p-2">
            <div class="card border-0">
                <div class="card-body bg-black text-center">
                    <a href="https://github.com/PineberryCode" class="btn btn-primary bg-black" target="_blank">
                        <h5 class="card-title">Code</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="bg-black py-5">
    <p class="h6">
        Technologies what I used in this website:
        <ul class="h6">
            <li>
                Node js
            </li>
            <li>
                Express JS
            </li>
            <li>
                Express-handlebars
            </li>
            <li>
                blender
            </li>
        </ul>
    </p>
    <div class="container text-center">
        <ul class="nav justify-content-center" >
            <li class="nav-item" id="logoIG">
                <a class="btn border-0" href="https://www.instagram.com/no_root.jdlc" target="_blank">
                    <div class="container text-center img">
                        <img src="/public/img/Instagram_Glyph_Black.png" class="card-img-top">
                    </div>
                </a>
            </li>
            <li class="nav-item" id="logoGIT">
                <a class="btn border-0" href="https://github.com/PineberryCode" target="_blank">
                    <div class="container text-center img">
                        <img src="/public/img/github-mark.png" class="card-img-top">
                    </div>
                </a>
            </li>
            <li class="nav-item" id="logoYT">
                <a class="btn border-0" href="https://www.youtube.com/@berrycode3200" target="_blank">
                    <div class="container text-center img">
                        <img src="https://github.githubassets.com/images/modules/site/icons/footer/youtube.svg" class="card-img-top">
                    </div>
                </a>
            </li>
            <li class="nav-item" id="logoLI">
                <a class="btn border-0" href="#" target="_blank" >
                    <div class="container text-center img">
                        <img src="/public/img/LI-In-Bug.png" class="card-img-top">
                    </div>
                </a>
            </li>
        </ul>
    </div>
</footer>